# Student performance indicator

## Life cycle of ML project

- Understanding the problem statement
- Data collection
- Data checks to perform
- Exploratory data analysis
- Data pre-processing
- Model training
- Choose best model

### 1 Problem statement

- This project study how student's perfomance (test scores) is affected by other variables such gender, ethnicity, parental level of education, lunch and test preparation course.

### 2 Data collection

- Source https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?resource=download
- Data consists of 8 columns and 1000 rows

### 2.1 Import data and required packages

Importing pandas, numpy, matplotlib, seaborn and warings library

In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Import the CSV dataset as pandas dataframe

In [3]:
df = pd.read_csv('data/StudentsPerformance.csv')

Top 5 records

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Shape of dataset

In [5]:
df.shape

(1000, 8)

### 2.2 Dataset information

- gender: male/female
- race/ethnicity: Groups A, B, C, D, E
- parental level of education: parents' final education (bachelor, some college, master, associate degree, high school)
- lunch: having lunch before test (standard or free/reduced)
- test preparation course: complete or not complete before test
- math score
- reading score
- writing score

### 3 Data checks to perform

- Missing values
- Duplicates
- Data types
- Number of unique values of each column
- Statistics of dataset
- Check various categories present in the different categorical column

### 3.1 Missing values

In [6]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

No missing values in the dataset

### 3.2 Duplicates

In [7]:
df.duplicated().sum()

np.int64(0)

There are not duplicate values in the dataset

### 3.3 Data types

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### 3.4 Number of unique values of each column

In [10]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

### 3.5 Statistics of dataset

In [11]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

### 3.6 Exploring data

In [17]:
print("Categories in gender column: ", end=" ")
print(df['gender'].unique())

print("Categories in race/ethnicity column: ", end=" ")
print(df['race/ethnicity'].unique())

print("Categories in parental level of education column: ", end=" ")
print(df['parental level of education'].unique())

print("Categories in lunch column: ", end=" ")
print(df['lunch'].unique())

print("Categories in test preparation course column: ", end=" ")
print(df['test preparation course'].unique())

Categories in gender column:  ['female' 'male']
Categories in race/ethnicity column:  ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in parental level of education column:  ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in lunch column:  ['standard' 'free/reduced']
Categories in test preparation course column:  ['none' 'completed']

In [18]:
#Define numerical & categorical columns
numeric_features = [col for col in df.columns if df[col].dtype != 'O']
categorical_features = [col for col in df.columns if df[col].dtype == 'O']

#print columns
print("Numerical features: ", numeric_features)
print("Categorical features: ", categorical_features)

Numerical features:  ['math score', 'reading score', 'writing score']
Categorical features:  ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']

### 3.7 Adding columns for total score and average

In [20]:
df['total_score'] = df["math score"] + df["reading score"] + df["writing score"]
df["average_score"] = df["total_score"] / 3
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score,average_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [21]:
reading_full = df[df["reading score"] == 100]["average_score"].count()
writing_full = df[df["writing score"] == 100]["average_score"].count()
math_full = df[df["math score"] == 100]["average_score"].count()

print("Number of students with full score in reading: ", reading_full)
print("Number of students with full score in writing: ", writing_full)
print("Number of students with full score in math: ", math_full)

Number of students with full score in reading:  17
Number of students with full score in writing:  14
Number of students with full score in math:  7

In [ ]:
reading_leq_20 = df[df["reading score"] <= 20]["average_score"].count()
writing_leq_20 = df[df["writing score"] <= 20]["average_score"].count()
math_leq_20 = df[df["math score"] <= 20]["average_score"].count()

print("Number of students with less than or equal to 20 score in reading: ", reading_leq_20)
print("Number of students with less than or equal to 20 score in writing: ", writing_leq_20)
print("Number of students with less than or equal to 20 score in math: ", math_leq_20)

Number of students with less than or equal to 20 score in reading:  1
Number of students with less than or equal to 20 score in writing:  3
Number of students with less than or equal to 20 score in math:  4